<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
<!-- 		<mapping class="net.oip.model.User" />
		<mapping class="net.oip.model.Account" />
		<mapping class="net.oip.model.Faq" />
		<mapping class="net.oip.model.ProjectInfo" />
		<mapping class="net.oip.model.ImageOrVideo" />
		<mapping class="net.oip.model.Activity" />
		<mapping class="net.oip.model.Reservation" />
		<mapping class="net.oip.model.Business" />
		<mapping class="net.oip.model.Favorer" />
		<mapping class="net.oip.model.ProjectStatus" />
		<mapping class="net.oip.model.TransJournal" /> -->
	</session-factory>
</hibernate-configuration>